<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="tabletop_ork_file" 
        value="$(find my_object_recognition_pkg)/conf/detection.tabletop_fetch.ros.ork"/>
    
    <node pkg="object_recognition_core"
    type="detection"
    name="tabletop_server_node"
    args="-c $(arg tabletop_ork_file)"
    output="screen">
    </node>

</launch>